.mediaTable {
	border-collapse: collapse;
	border: 1px solid #000000;
}

.mediaTableHeader {
	text-align: center;
	background: none repeat scroll 0 0 #B5B5B5;
	border-bottom: 1px solid #000000;
	padding: 2px;
}

.mediaTableOddRow {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
}

.mediaTableEvenRow {
	text-align: center;
	background: none repeat scroll 0 0 #D3D3D3;
}

/** Style for the body **/
body {
	background-color: #E9E9E9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1272px;
}

/*Division to seperate the content*/
#left,#right {
	position: absolute;
	background-color: #E9E9E9;
}

/*Division for main content*/
#main {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 120px;
	margin-left: 120px;
	background-color: white;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

/** Style for the button & div **/
#returnButton {
	display: none
}

.forms {
	background-color: gray;
	display: none;
	text-align: justify;
}

#myDiv {
	color: Green;
	background-color: #eee;
	border: 2px solid #333;
	display: none;
	text-align: justify;
}

#myDiv p {
	margin: 15px;
	font-size: 0.917em;
}

/** Style for the cointainer **/
#body {
	clear: both;
	margin: 0 auto;
	max-width: 534px;
}